<div class="nav">
    {# utilisation de path pour les routes #}
    <a href="{{ path('homepage') }}">Accueil</a>
    {# utilisation de path avec paramètre #}
    <a href="{{ path('page', {'id': 1}) }}">Page 1</a>
    <a href="{{ path('page', {'id': 2}) }}">Page 2</a>
    <a href="{{ path('page', {'id': 3}) }}">Page 3</a>
</div>