{# Ce template est étendu de base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Symfony6{% endblock %}
{# inutile de redéfinir ces blocks
{#
{% block langue %}fr{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
#}
{# On définit un block body pour pouvoir le diviser en plusieurs blocks #}
{% block body %}
{# On définit un block top DANS qui sera affiché avant le contenu #}
{% block top %}
    {# bare de navigation DANS top #}
    {% block nav %}
        {% include 'public/inc/public.menu.html.twig' %}
    {% endblock %}
    {% block header %}{% endblock %}
{% endblock %}
{% block content %}{% endblock %}
    <p>Symfony6 ©CF2m {{ 'now'|date('Y') }}</p>
{% endblock %}